﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zvířecí trhovisko</title>
    @{

    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Zvířecí trhovisko", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inzeráty", "Index", "Zvire")</li>
                    <li>@Html.ActionLink("Profil", "About", "Home")</li>
                    <li>@Html.ActionLink("IDK yet", "Contact", "Home")</li>
                    <li>
                        @{
                            if (Session["prihlasenyUzivatel"] != null && Session["prihlasenyUzivatel"].ToString() != "")
                            {
                                string prihlasenyUzivatel = Session["prihlasenyUzivatel"].ToString();

                                @Html.ActionLink(prihlasenyUzivatel, "Profil", "", null);
                            }
                            else
                            {
                                @Html.ActionLink("Přihlásit se", "PrihlasitSe", "Uzivatel");
                            }
                        }
                    </li>
                    <li>
                        @{
                            if (Session["prihlasenyUzivatel"] != null && Session["prihlasenyUzivatel"].ToString() != "")
                            {
                                string prihlasenyUzivatel = Session["prihlasenyUzivatel"].ToString();

                                @Html.ActionLink(prihlasenyUzivatel, "Profil", "", null);
                            }
                            else
                            {
                                @Html.ActionLink("Registrovat se", "RegistrovatSe", "Uzivatel");
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Natálie Jebavá &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
