﻿

<div class="jumbotron">
    <h1>Zvířecí trhovisko</h1>
    <h3>@ViewBag.Uzivatel</h3>
    <p class="lead">Místo pro prodej, darování, nákup nebo adopci zvířat a chovatelských potřeb.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            <a href='@Url.Action("Index", "Zvire")' class="btn btn-default">Inzeráty &raquo;</a>

        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Profil &raquo;</a>
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">IDK yet &raquo;</a>
        </h2>
    </div>
</div>