﻿@model List<zvireci_trhovisko.Models.Zvire>

<h2>Inzeráty</h2>

@{ 
    foreach (var inzerat in Model)
    {
        
        <div class="col-md-10">
            <h3>
                @inzerat.Id
                @inzerat.Id_chovatel
                @inzerat.Id_druh_zvirete
                @inzerat.Id_rozmer
                @inzerat.Id_obrazek
                @inzerat.Nazev
                @inzerat.Popis
                @inzerat.Cena
                @inzerat.Datum_pridani
            </h3>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}