﻿@model (List<zvireci_trhovisko.Models.Zvire>, Int16)

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inzeráty</h2>

@{ 
    for(int i = 0; i <20; i++)
    {
<h5>
    @Model[i].Id;
    <br />
    @Model[i].Nazev;
    <br />
    @Model[i].Id_obrazek;
</h5>
    }
}

