﻿@model zvireci_trhovisko.Models.ZvireObrazek


@{ WebImage photo = null;
    var newFileName = "";
    var imagePath = "";


    if (IsPost)
    {

        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }

    }
}

<h2>Vytvořit inzerát</h2>


@using (Html.BeginForm("VytvoritInzerat_form", "Zvire", FormMethod.Post/*, new { enctype = "multipart/form-data" }*/))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.zvire.Nazev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zvire.Nazev, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zvire.Nazev, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zvire.Cena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zvire.Cena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zvire.Cena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zvire.Popis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zvire.Popis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zvire.Popis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <fieldset>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Obrazek.Obrazek_soubor)
                </div>
                <div class="editor-field">
                    <input type="file" name="Obrazek_soubor" />
                </div>
            </fieldset>
        </div>


        <h1>Uploaded Image</h1>
        @if (imagePath != "")
        {
            <div class="result">
                <img src="@imagePath" alt="image" />

            </div>

        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vytvořit inzerát" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zpět", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}