﻿@model zvireci_trhovisko.Models.Uzivatel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil</h2>

<p>
    @Model.Uzivatelske_jmeno
    @Model.Heslo
    @Model.Email

    @Html.ActionLink("Vytvořit inzerát", "VytvoritInzerat", "Zvire")
</p>